<a href="https://colab.research.google.com/github/LucasColas/Coding-Problems/blob/main/Multiplication%20Table/Multiplication_Table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Multiplication Table**

Print the multiplication table of a given number N.


You don't need to read input. 

Your task is to complete the function getTable() which takes an integer N as input parameter and returns a list of integers denoting the multiplication of table of N from 1 to 10. 

Multiplication from [GeeksForGeeks](https://practice.geeksforgeeks.org/problems/print-table0303/1).

In [2]:
def getTable(n):
  Table = []
  for i in range(1, 11):
    r = n*i
    Table.append(r)
  
  return Table


def getTable2(n):
  return [n*i for i in range(1,11)]

getTable2(9)

[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]